@primary-color-dark-red: #ca2250; // Основной цвет 1
@secondary-color-dark-purple: #5b4481; // Основной цвет 2
@text-color: #717070; // Основной цвет 3
@header-color: #423f3f;

.darkBackground {
  background-color: @header-color;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .fixedDarkBackground {
    background-color: @header-color;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

    .fixedmainBlockWindow {
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      margin-left: 1.1em;
      width: 97.5%;
      background-color: white;
      border-radius: 1em;
      z-index: -1;
    }
  }
}
.mainBlockWindow {
  z-index: 1;
  margin: 1em;
  width: 98%;
  background-color: transparent;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  .containerAllInformation {
    width: 100%;
    padding: 2em 15em 4em 15em;
    font-size: 16px;

    .secondHeader {
      font-family: "Onest";
      text-transform: uppercase;
      font-size: 16px;
      padding-left: 0;

      .nameNews {
        color: @header-color;
      }
    }
    .InformationNews {
      margin-top: 2em;
      .HeaderMainInformation {
        margin-top: 0.5em;
        margin-bottom: 0.25em;
        font-family: "Unbounded";
        color: @header-color;
      }
      .date {
        font-family: "Onest";
        color: #cfcfcf;
        margin-top: 1em;
        margin-bottom: 1em;
      }
      .mainTextInformation {
        font-family: "Onest";
        max-width: 37.5em;
        color: @text-color;
        margin-bottom: 2em;
        padding-left: 0.5em;
        .padding {
          margin-top: 1em;
        }
      }
      .firstImg {
        max-width: 66em;
        max-height: 37.5;
        border-radius: 2em;
      }
    }
  }

  .close {
    position: fixed;
    top: 0;
    left: 96em;
    border-top-right-radius: 1em;

    margin: 0;
    padding: 0;
  }

  @media (max-width: 6200px) {
    .close {
      top: 0;
      left: 367.7em;
    }
  }

  @media (max-width: 6100px) {
    .close {
      top: 0;
      left: 274em;
    }
  }

  @media (max-width: 3200px) {
    .close {
      top: 0;
      left: 178.4em;
    }
  }

  @media (max-width: 2400px) {
    .close {
      top: 0;
      left: 132em;
    }
  }

  @media (max-width: 2200px) {
    .close {
      top: 0;
      left: 116.5em;
    }
  }

  @media (max-width: 2000px) {
    .close {
      top: 0;
      left: 108.9em;
    }
  }

  @media (max-width: 1900px) {
    .close {
      top: 0;
      left: 96em;
    }
  }

  @media (max-width: 1700px) {
    .close {
      top: 0;
      left: 85.7em;
    }
    .firstImg {
      max-width: 39em;
      max-height: 35.5em;
      border-radius: 2em;
    }
  }

  @media (max-width: 1460px) {
    .close {
      top: 0;
      left: 77.3em;
    }

    .firstImg {
      max-width: 34em;
      max-height: 30.5em;
      border-radius: 2em;
    }
  }

  @media (max-width: 1260px) {
    .close {
      top: 0;
      left: 67.2em;

      .firstImg {
        max-width: 29em;
        max-height: 25.5em;
        border-radius: 2em;
      }
    }
  }

  @media (max-width: 1060px) {
    .close {
      top: 0;
      left: 54.9em;
    }
    .firstImg {
      max-width: 24em;
      max-height: 20.5em;
      border-radius: 2em;
    }
  }

  @media (max-width: 960px) {
    .close {
      top: 0;
      left: 46em;
    }
    .firstImg {
      max-width: 29em;
      max-height: 25.5em;
      border-radius: 2em;
    }
    .containerAllInformation {
      padding: 1em 5em 0 6em;
    }
  }

  @media (max-width: 860px) {
    .close {
      top: 0;
      left: 39.9em;
    }
    .firstImg {
      max-width: 29em;
      max-height: 24.5em;
      border-radius: 2em;
    }
    .containerAllInformation {
      padding: 1em 3em 0 3em;
    }
  }

  @media (max-width: 760px) {
    .close {
      top: 0;
      left: 30.2em;
    }
    .firstImg {
      max-width: 21em;
      max-height: 21.5em;
      border-radius: 2em;
    }
    .containerAllInformation {
      padding: 1em 3em 0 3em;
    }
  }

  @media (max-width: 560px) {
    .close {
      top: 0;
      left: 24.2em;
    }
    .firstImg {
      max-width: 17em;
      max-height: 17.5em;
      border-radius: 2em;
    }
    .containerAllInformation {
      padding: 1em 3em 0 3em;
    }
  }

  @media (max-width: 460px) {
    .close {
      top: 0;
      left: 15.5em;
    }
    .firstImg {
      max-width: 14em;
      max-height: 10.5em;
      border-radius: 2em;
    }
    .containerAllInformation {
      padding: 1em 0.5em 0 3em;
    }
  }
}
