@font-face {
  font-family: "Onest";
  src: url("../public/Onest/Onest-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Unbounded";
  src: url("../public/Unbounded/Unbounded-VariableFont_wght.ttf")
    format("truetype");
}

@primary-color-dark-red: #ca2250; // Основной цвет 1
@secondary-color-dark-purple: #5b4481; // Основной цвет 2
@text-color: #717070; // Основной цвет 3
@header-color: #423f3f;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
